/* To avoid shows the form login while loading the angularJS library */
.ng-cloak { display: none !important; }


/* === HEADER === */
#logo{
    text-align:center;
    padding-top: 20px;
    padding-bottom: 20px;
}

#app-title{
    text-align:center;
    background: rgba(255, 0, 0, 0.8);
    color: white;
    border-top: 4px solid rgba(0, 0, 0, 0.7);
    border-bottom: 4px solid rgba(0, 0, 0, 0.7);
}

/* === ENTER BUTTON & FORM LOGIN === */
#main-container{
    margin-top: 20px;
    margin-bottom: 20px;
}

#enter-to-app{
    text-align:center;
    padding-left: 10px;
    padding-right: 10px;
}

#form-login {
    border: 4px solid rgba(255, 0, 0, 0.8);
    box-shadow: rgba(255, 0, 0, 0.3) 3px 3px 3px 3px;
    background: white;
    border-radius: 8px;
    text-align: center;
    padding-right: 40px;
    padding-left: 40px;
}

#form-login hr{
    color: black;
    background-color: black;
    height: 1px;
}

#learner-button{
    margin-top: 20px;
    text-align: center;
}

/* === INFORMATION & UNIVERSITY LOGO === */

#info{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

#info h3{
    color: black;
}

#uni-logo{
    padding-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}

@media(min-width: 768px) {
    #info-column-1, #info-column-2{
        border-top: 2px solid rgba(255, 0, 0, 0.8);
    }

    #uni-logo{
        border-top: 2px solid rgba(255, 0, 0, 0.8);
    }
}

@media(max-width: 767px) {
    #info-column-1, #info-column-2{
        background: rgb(234, 234, 234);
    }

    #info-column-2{
        padding-bottom: 20px;
    }
}

/* === FOOTER === */

#footer {
    background: black;
    text-align: center;
    border: 1px solid rgb(90, 90, 90);
    margin-top: 40px;
}

#footer a{
    color: white;
}

#footer a:hover{
    color: lightskyblue;
}

