.ng-cloak { display: none !important; }

hr{
    color: black;
    background-color: black;
    height: 1px;
}

#web-icon-box{
    text-align:center;
    padding-top: 20px;
    padding-bottom: 20px;
}

#title-box{
    text-align:center;
    background: rgba(255, 0, 0, 0.8);
    color: white;
    border-top: 4px solid rgba(0, 0, 0, 0.7);
    border-bottom: 4px solid rgba(0, 0, 0, 0.7);
}

#center-box{
    margin-top: 20px;
    margin-bottom: 20px;
}

#enter-button-box{
    text-align:center;
    padding-left: 10px;
    padding-right: 10px;
}

#form-box {
    border: 4px solid rgba(255, 0, 0, 0.8);
    box-shadow: rgba(255, 0, 0, 0.3) 3px 3px 3px 3px;
    background: white;
    border-radius: 8px;
    text-align: center;
    padding-right: 40px;
    padding-left: 40px;
}

#learner-button{
    margin-top: 20px;
    text-align: center;
}

#info-box{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

#info-box h3{
    color: black;
}

#uni-logo-box{
    padding-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}

@media(min-width: 768px) {
    #info-box-col1, #info-box-col2{
        border-top: 2px solid rgba(255, 0, 0, 0.8);
    }

    #uni-logo-box{
        border-top: 2px solid rgba(255, 0, 0, 0.8);
    }
}

@media(max-width: 767px) {
    #info-box-col1, #info-box-col2{
        background: rgb(234, 234, 234);
    }

    #info-box-col2{
        padding-bottom: 20px;
    }
}

#footer {
    background: black;
    text-align: center;
    border: 1px solid rgb(90, 90, 90);
    margin-top: 40px;
}

#footer a{
    color: white;
}

#footer a:hover{
    color: lightskyblue;
}

