<div class="container">
    <div style="text-align:center;">
        <h2>Cambiar Contraseña</h2>
    </div>
    <hr/>
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <form class="form-horizontal" role="form" ng-submit="changePassword()">
            <div class="form-group">
                <label for="oldpass">Contraseña actual:</label>
                <input type="password" class="form-control" id="oldpass" ng-model="changePasswordData.oldPassword"/>
            </div>

            <div class="form-group">
                <label for="newpass">Nueva contraseña:</label>
                <input type="password" class="form-control" id="newpass" ng-model="changePasswordData.newPassword"/>
            </div>

            <div class="form-group">
                <label for="repeatpass">Repetición nueva contraseña:</label>
                <input type="password" class="form-control" id="repeatpass" ng-model="changePasswordData.repeatPassword"/>
            </div>

            <div class="form-group" style="text-align:center;">
                <button type="submit" class="btn btn-primary">Cambiar contraseña</button>
            </div>
        </form>
    </div>

    <!-- Modal with an error -->
    <div class="modal fade" id="errorModal" role="dialog">
        <div class="modal-dialog modal-sm">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">Error</h2>
                </div>
                <div class="modal-body">
                    <p ng-show="showEmptyFieldsError">Ningún campo puede estar vacío.</p>
                    <p ng-show="showRequestError">Error cambiando la contraseña.</p>
                    <p ng-show="showProcessError">{{processErrorMessage}}</p>
                </div>
                <div class="modal-footer-custom">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Ok</button>
                </div>
            </div>

        </div>
    </div>

    <!-- Modal with successfully message modal -->
    <div class="modal fade" id="successfullyModal" role="dialog">
        <div class="modal-dialog modal-sm">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">Información</h2>
                </div>
                <div class="modal-body">
                    <p>La contraseña se ha cambiado correctamente.</p>
                </div>
                <div class="modal-footer-custom">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Ok</button>
                </div>
            </div>

        </div>
    </div>
</div>
