<h1>Cambiar Contraseña</h1>
<hr/>
<form class="form-horizontal" role="form" ng-submit="changePassword()">

    <div class="form-group">
        <div class="input-group">
            <input type="password" class="form-control" name="oldpassword" placeholder="Contraseña actual" value="" ng-model="changePasswordData.oldpassword"/>
        </div>
    </div>

    <div class="form-group">
        <div class="input-group">
            <input type="text" class="form-control" name="newpassword" placeholder="Nueva contraseña" value="" ng-model="changePasswordData.newpassword"/>
        </div>
    </div>

    <div class="form-group">
        <div class="input-group">
            <input type="password" class="form-control" name="repeatpassword" placeholder="Repite la nueva contraseña" value="" ng-model="changePasswordData.repeatpassword"/>
        </div>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-default">Cambiar contraseña&nbsp;&nbsp;<i class="glyphicon glyphicon-ok"></i></button>
    </div>

</form><!-- .form -->