<div class="container" xmlns:th="http://www.thymeleaf.org">
    <div style="text-align:center;">
        <h2 th:text="#{coursesList.title}"></h2>
    </div>
    <hr/>
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <div ng-repeat="course in courseList" class="course-class">
            <button type="button" class="btn btn-danger btn-lg" data-toggle="collapse" data-target="#{{course.year}}">{{course.year}}&nbsp;&nbsp;<span class="caret"></span></button>
            <div id="{{course.year}}" class="collapse">
                <br/>
                <div class="list-group" ng-repeat="subject in course.subjectList">
                    <a href="#" class="list-group-item">
                        <h3 class="list-group-item-heading">{{subject.subjectName}}</h3>
                        <h5 class="list-group-item-text">{{subject.subjectDescription}}</h5>
                    </a>
                </div>
            </div>
            <br/>
            <br/>
        </div>
    </div>
</div>