<div xmlns:th="http://www.thymeleaf.org">
    <div class="exam-score-info-exit-button">
        <a href="#/subject/" type="button" class="btn btn-primary btn-lg"><i class="glyphicon glyphicon-arrow-left"></i>&nbsp;&nbsp;<span th:text="#{examScore.exit}"></span></a>
    </div>

    <div id="main-exam-div">
        <div id="exam-title-div">
            <h2>{{examScoreInfo.examTitle}}</h2>
            <h4>{{examScoreInfo.subjectName}}</h4>
        </div>
        <br/>
        <div class="container-fluid" id="exam-score-info-div">
            <h3><span th:text="#{examScore.maxQualification}"></span>&nbsp;<strong>{{examScoreInfo.maxScore}}</strong></h3>
            <h3>
                <span th:text="#{examScore.qualification}"></span>
                <button ng-hide="isScoreShown" style="display: inline-block" class="btn btn-default" ng-click="isScoreShown = true;"><strong><span th:text="#{examScore.showQualification}"></span></strong></button>
                &nbsp;<strong ng-show="isScoreShown">{{examScoreInfo.score}}</strong>
            </h3>
            <br/>
            <h4 ng-hide="examScoreInfo.availableReview" class="exam-score-above" th:text="#{examScore.notAvailableReview}"></h4>
            <div ng-show="examScoreInfo.availableReview" class="exam-score-above">
                <h4 th:text="#{examScore.availableReview}"></h4>
                <ul>
                    <li><h4><span th:text="#{examScore.reviewStartDate}"></span>&nbsp;<strong>{{examScoreInfo.reviewStartDate}}</strong></h4></li>
                    <li><h4><span th:text="#{examScore.reviewEndDate}"></span>&nbsp;<strong>{{examScoreInfo.reviewEndDate}}</strong></h4></li>
                </ul>
                <button id="exam-score-info-review-button" class="btn btn-primary" ng-click="goToReview()" th:text="#{examScore.goToReview}"></button>
            </div>
        </div>
    </div>
</div>