<!doctype html>
<html ng-app="learnerApp" ng-controller="mainCtrl" data-ng-init="init()" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" content="text/html" http-equiv="content-Type"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <title>iTest</title>

        <!-- Add Fav Icon-->
        <link rel="icon" href="/img/favicon.ico"/>

        <!-- Add Bootstrap -->
        <link rel="stylesheet" href="/css/lib/bootstrap.min.css"/>

        <!-- Custom CSS and adaptive style-->
        <link href="/css/learner-style.css" rel="stylesheet"/>
        <link href="/css/adaptive-elements.css" rel="stylesheet"/>

        <!-- CSS for flags of languages -->
        <link href="/css/lib/languages.min.css" rel="stylesheet"/>

        <!-- Add checkbox library and fonts -->
        <link rel="stylesheet" href="/css/lib/checkbox.style.css"/>
        <link rel="stylesheet" href="/css/lib/font-awesome.min.css"/>

        <!-- Add AngularJS and additionals libraries-->
        <script src="/angularjs/lib/angular.min.js"></script>
        <script src="/angularjs/lib/angular-route.min.js"></script>

        <!-- Add AngularJS Application -->
        <script src="/angularjs/learner_app.js"></script>

    </head>
    <body>

        <!-- HEADER -->
        <header>
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">

                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#/">
                            <img src="/img/logoitest-inverse.png" alt="Go to home page"/>
                        </a>
                    </div>

                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{fullName}}&nbsp;&nbsp;<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li class="menu"><a href="#/"><i class="glyphicon glyphicon-home"></i>&nbsp;&nbsp;<span th:text="#{navbarHome}"></span></a></li>
                                    <li class="menu"><a href="#/changepassword"><i class="glyphicon glyphicon-lock"></i>&nbsp;&nbsp;<span th:text="#{navbarChangePassword}"></span></a></li>
                                    <li class="menu"><a href="#/userprofile"><i class="glyphicon glyphicon-cog"></i>&nbsp;&nbsp;<span th:text="#{navbarManageUserProfile}"></span></a></li>
                                    <li role="separator" class="divider"></li>
                                    <li class="menu"><a href="" ng-click="showExitConfirmation()"><i class="glyphicon glyphicon-log-out"></i>&nbsp;&nbsp;<span th:text="#{navbarExit}"></span></a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                </div>
            </nav>
        </header>
        <!-- HEADER -->

        <div class="container main-div">
            <!-- Here the partials view will be included-->
            <div ng-view="true"></div>

        </div>

        <!-- Modal with confirmation message for logout -->
        <div class="modal fade" id="exitConfirmationModal" role="dialog">
            <div class="modal-dialog modal-sm">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title" th:text="#{modalConfirmationTitle}"></h2>
                    </div>
                    <div class="modal-body">
                        <p th:text="#{exitConfirmation}"></p>
                    </div>
                    <div class="modal-footer-custom">
                        <button type="button" class="btn btn-danger" data-dismiss="modal" style="margin-right: 20px;" th:text="#{modalCancelButton}"></button>
                        <button type="button" class="btn btn-primary" ng-click="exitApplication();" th:text="#{modalOkButton}"></button>
                    </div>
                </div>
            </div>
        </div>


        <!-- Modal with generic error message -->
        <div class="modal fade" id="genericErrorModal" role="dialog">
            <div class="modal-dialog modal-sm">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title" th:text="#{modalErrorTitle}"></h2>
                    </div>
                    <div class="modal-body">
                        <p id="genericErrorFromServer"></p>
                        <p id="genericErrorFromPage">Error contactando con el servidor...</p>
                    </div>
                    <div class="modal-footer-custom">
                        <button type="button" class="btn btn-danger" data-dismiss="modal" th:text="#{modalOkButton}"></button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Include jQuery and javascript Boostrap library (necessary for Bootstrap) -->
        <script src="/js/lib/jquery-3.1.1.min.js"></script>
        <script src="/js/lib/bootstrap.min.js"></script>

        <!-- Add the javascript file to manage the components of HTML file -->
        <script src="/js/learner-index.js"></script>

        <!-- Add the Ascii Math library -->
        <script type="text/javascript" src="/js/lib/ASCIIMathML.js"></script>

    </body>
</html>