<div xmlns:th="http://www.thymeleaf.org" ng-controller="multimediaCtrl">

    <!-- Div to lock the navbar and hide the user menu -->
    <div class="new-exam-lock-navbar-div">
        <div class="new-exam-lock-navbar-middle-right-div"></div>
    </div>

    <!-- Div to show the clock with the countdown timer -->
    <div class="new-exam-top-clock-div">
        <div class="new-exam-top-clock-div-inner">
            <span><strong>{{remainingTime}}</strong></span>
        </div>
    </div>

    <div class="new-exam-finish-button-div">
        <button href="#/subject/" type="button" ng-click="endExam(true)" class="btn btn-primary btn-lg" th:text="#{newExam.endExam}"></button>
    </div>

    <div id="main-exam-div">
        <div id="exam-title-div">
            <h2>{{newExam.examTitle}}</h2>
            <h4>{{newExam.subjectName}}</h4>
        </div>
        <br/>
        <div class="container-fluid" id="exam-questions-div">
            <!-- on-finish-render="convertFormulas" => Call to the AsciiMath library at the end of ng-repeat rendering -->
            <div ng-repeat="question in newExam.questionList" on-finish-render="convertFormulas">
                <h3><strong><span th:text="#{exam.questionTitle.question}"></span>&nbsp;{{$index + 1}}</strong><span ng-show="newExam.showNumberRightAnswers">&nbsp;-&nbsp;({{question.numberCorrectAnswers}}&nbsp;<span th:text="#{newExam.answerNumber}"></span>)</span></h3>
                <div class="exam-question">
                    <h4>{{question.statement}}</h4>

                    <!-- Multimedia elements for question -->
                    <div class="multimedia-parent-div-center">
                        <div ng-repeat="multimedia in question.questionMultimediaList" class="{{getClassForMultimediaQuestion(multimedia)}}" style="{{getStyleForMultimediaQuestion(multimedia)}}">
                            <!-- Flash Multimedia Element -->
                            <object ng-if="multimedia.type == 1" class="multimedia-adjust-width multimedia-adjust-height multimedia-border" data="{{multimedia.path}}"></object>
                            <!-- Image Multimedia Element -->
                            <img ng-if="multimedia.type == 2" src="{{multimedia.path}}" ng-click="showImageInModal(multimedia.path, null)" class="multimedia-adjust-width multimedia-border"/>
                            <!-- Audio Multimedia Element -->
                            <audio ng-if="multimedia.type == 3" controls="true" class="multimedia-adjust-width">
                                <source src="{{multimedia.path}}" type="audio/{{getAudioType(multimedia)}}"/>
                            </audio>
                            <!-- YouTube Multimedia Element -->
                            <iframe ng-if="multimedia.type == 7" class="multimedia-adjust-width multimedia-adjust-height" ng-src="{{getYoutubeUrl(multimedia.path)}}" allowfullscreen="true"></iframe>
                        </div>
                    </div>

                    <div class="exam-answer" ng-repeat="answer in question.answerList">
                        <div class="checkbox checkbox-ltr checkbox-primary">
                            <input id="answer{{answer.asnwerId}}" ng-model="answer.checked" ng-change="checkChangedAnswer(question, answer)" type="checkbox"/>
                            <label for="answer{{answer.asnwerId}}" ng-class="{'multimedia-adjust-width': answer.multimediaList.length > 0}">
                                <span ng-if="answer.text">{{answer.text}}</span>
                                <br ng-if="answer.text"/>

                                <!-- Multimedia elements for answer -->
                                <div ng-repeat="multimedia in answer.multimediaList" class="multimedia-adjust-width">
                                    <!-- Flash Multimedia Element -->
                                    <object ng-if="multimedia.type == 1" class="multimedia-flash-answer multimedia-border" data="{{multimedia.path}}"></object>
                                    <!-- Image Multimedia Element -->
                                    <img ng-if="multimedia.type == 2" src="{{multimedia.path}}" ng-click="showImageInModal(multimedia.path, $event)" class="multimedia-img-answer multimedia-border"/>
                                    <!-- Audio Multimedia Element -->
                                    <audio ng-if="multimedia.type == 3" controls="true" class="multimedia-audio-answer">
                                        <source src="{{multimedia.path}}" type="audio/{{getAudioType(multimedia)}}"/>
                                    </audio>
                                </div>

                            </label>
                        </div>
                    </div>

                    <div ng-show="newExam.activeConfidenceLevel" class="confidence-level-checkbox">
                        <div class="checkbox checkbox-rtl">
                            <input id="questionConfLevel{{question.questionId}}" ng-model="question.activeConfidenceLevel" type="checkbox"/>
                            <label for="questionConfLevel{{question.questionId}}" th:text="#{newExam.question.confidenceLevel}"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="new-exam-finish-button-div">
        <button href="#/subject/" type="button" ng-click="endExam(true)" class="btn btn-primary btn-lg" th:text="#{newExam.endExam}"></button>
    </div>

    <!-- Modal with warning message for number of right answers -->
    <div class="modal fade" id="numberRighAnswersModal" role="dialog">
        <div class="modal-dialog modal-sm">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <h2><span class="glyphicon glyphicon-alert" aria-hidden="true"></span></h2>
                    <p th:text="#{newExam.checkLessAnswers}"></p>
                </div>
                <div class="modal-footer-custom">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" th:text="#{modalOkButton}"></button>
                </div>
            </div>
        </div>
    </div>

    <!-- Confirmation Modal to finsih the exam when all questions are not answered -->
    <div class="modal fade" id="allQuestionsNotAnsweredModal" role="dialog">
        <div class="modal-dialog modal-sm">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <h2><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></h2>
                    <p th:text="#{newExam.endExamWithoutCheckAllAnswers}"></p>
                </div>
                <div class="modal-footer-custom">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" style="margin-right: 20px;" th:text="#{modalCancelButton}"></button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="endExam(false)" th:text="#{modalOkButton}"></button>
                </div>
            </div>
        </div>
    </div>

    <!-- Confirmation Modal to finsih the exam -->
    <div class="modal fade" id="finishExamModal" role="dialog">
        <div class="modal-dialog modal-sm">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <h2><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></h2>
                    <p th:text="#{newExam.endExamQuestion}"></p>
                </div>
                <div class="modal-footer-custom">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" style="margin-right: 20px;" th:text="#{modalCancelButton}"></button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="endExam(false)" th:text="#{modalOkButton}"></button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal to show an image  -->
    <div class="modal fade" id="showImageModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div>
                    <img class="multimedia-img-modal" src="{{imageSrc}}"/>
                </div>
            </div>
        </div>
    </div>

</div>