<div xmlns:th="http://www.thymeleaf.org">
    <a href="#/" id="go-to-home-button" type="button" class="btn btn-primary btn-lg"><i class="glyphicon glyphicon-arrow-left"></i></a>
    <button id="send-eamil-to-tutor-button" type="button" class="btn btn-primary btn-lg"><i class="glyphicon glyphicon-envelope"></i>&nbsp;&nbsp;<span th:text="#{subject.sendMailToTeacher}"></span></button>
    <div id="main-subject-div" xmlns:th="http://www.thymeleaf.org">
        <div id="subject-title-div">
            <h1>{{subject.year}}</h1>
            <h3>{{subject.subjectName}}</h3>
            <h5>{{subject.subjectDescription}}</h5>
        </div>
        <br/>
        <div class="container-fluid">
            <div id="subject-exams-main-div">
                <h2 th:text="#{subject.examList}"></h2>
                <p th:text="#{subject.examListDescription}"></p>
                <div id="exams-button-group" class="btn-group btn-group-justified">
                    <a id="available-exams-button" type="button" class="btn btn-danger btn-exams-type active" ng-click="clickExamsButton($event)" th:text="#{subject.availableExamTab}"></a>
                    <a id="next-exams-button" type="button" class="btn btn-danger btn-exams-type" ng-click="clickExamsButton($event)" th:text="#{subject.nextExamTab}"></a>
                    <a id="done-exams-button" type="button" class="btn btn-danger btn-exams-type" ng-click="clickExamsButton($event)" th:text="#{subject.doneExamTab}"></a>
                </div>
                <div id="available-exams-div" ng-show="isAvailableExamsButtonActived()">
                    <p ng-hide="availableExamsList.length > 0" th:text="#{subject.emptyExamList}"></p>
                    <div class="table-responsive" ng-show="availableExamsList.length > 0">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th th:text="#{subject.examInfo.name}"></th>
                                <th th:text="#{subject.examInfo.startDateTime}"></th>
                                <th th:text="#{subject.examInfo.endDateTime}"></th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="availableExam in availableExamsList">
                                <td>{{$index + 1}}</td>
                                <td>{{availableExam.examName}}</td>
                                <td>{{availableExam.startDate}}</td>
                                <td>{{availableExam.endDate}}</td>
                                <td><button class="btn btn-default btn-xs" data-toggle="modal" data-target="#extraInfoExamModal" ng-click="setCurrentExamExtraInfo(availableExam)"><span class="glyphicon glyphicon-plus"></span>&nbsp;<span th:text="#{subject.examInfo.moreDetails}"></span></button></td>
                                <td><button class="btn btn-primary btn-xs" th:text="#{subject.available.startExamButton}"></button></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="next-exams-div" ng-show="isNextExamsButtonActived()">
                    <p ng-hide="nextExamsList.length > 0" th:text="#{subject.emptyExamList}"></p>
                    <div class="table-responsive" ng-show="nextExamsList.length > 0">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th th:text="#{subject.examInfo.name}"></th>
                                <th th:text="#{subject.examInfo.startDateTime}"></th>
                                <th th:text="#{subject.examInfo.endDateTime}"></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="nextExam in nextExamsList">
                                <td>{{$index + 1}}</td>
                                <td>{{nextExam.examName}}</td>
                                <td>{{nextExam.startDate}}</td>
                                <td>{{nextExam.endDate}}</td>
                                <td><button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#extraInfoExamModal" ng-click="setCurrentExamExtraInfo(nextExam)"><span class="glyphicon glyphicon-plus"></span>&nbsp;<span th:text="#{subject.examInfo.moreDetails}"></span></button></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="done-exams-div" ng-show="isDoneExamsButtonActived()">
                    <p ng-hide="doneExamsList.length > 0" th:text="#{subject.emptyExamList}"></p>
                    <div class="table-responsive" ng-show="doneExamsList.length > 0">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th th:text="#{subject.examInfo.name}"></th>
                                <th th:text="#{subject.examInfo.score}"></th>
                                <th th:text="#{subject.examInfo.maxScore}"></th>
                                <th th:text="#{subject.examInfo.startDate}"></th>
                                <th th:text="#{subject.examInfo.endDate}"></th>
                                <th th:text="#{subject.examInfo.time}"></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="doneExam in doneExamsList">
                                <td>{{$index + 1}}</td>
                                <td>{{doneExam.examName}}</td>
                                <td>{{doneExam.score}}</td>
                                <td>{{doneExam.maxScore}}</td>
                                <td>{{doneExam.startDate}}</td>
                                <td>{{doneExam.endDate}}</td>
                                <td>{{doneExam.time}}</td>
                                <td><button class="btn btn-primary btn-xs" ng-show="doneExam.availableReview" th:text="#{subject.doneExam.reviewButton}"></button></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal holding extra info of available and next exams -->
    <div class="modal fade" id="extraInfoExamModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">{{currentExamExtraInfo.examName}}</h3>
                </div>
                <div class="modal-body">
                    <ul class="ul-no-indent">
                        <!-- Basic information -->
                        <li><p><b th:text="#{subject.examExtraInfo.startDateTime}"></b> {{currentExamExtraInfo.startDate}}</p></li>
                        <li><p><b th:text="#{subject.examExtraInfo.endDateTime}"></b> {{currentExamExtraInfo.endDate}}</p></li>
                        <li><p><b th:text="#{subject.examExtraInfo.questionNumber}">Numero de preguntas:</b> {{currentExamExtraInfo.questionsNumber}}</p></li>
                        <li><p><b th:text="#{subject.examExtraInfo.maxScore}"></b> {{currentExamExtraInfo.maxScore}}</p></li>
                        <li><p><b th:text="#{subject.examExtraInfo.examTime}"></b> {{currentExamExtraInfo.examTime}} <span th:text="#{subject.examExtraInfo.examTimeMin}"></span></p></li>

                        <!-- Partial correction -->
                        <li ng-show="currentExamExtraInfo.partialCorrection.activePartialCorrection"><p><b th:text="#{subject.examExtraInfo.partialCorrection}"></b></p></li>
                        <li ng-hide="currentExamExtraInfo.partialCorrection.activePartialCorrection"><p><b th:text="#{subject.examExtraInfo.notPartialCorrection}"></b></p></li>
                        <li ng-hide="currentExamExtraInfo.partialCorrection.activePartialCorrection"><p><b th:text="#{subject.examExtraInfo.notPartialCorrectionFailedQuestion}"></b> {{currentExamExtraInfo.partialCorrection.penaltyFailedAnswer}}</p></li>
                        <li ng-hide="currentExamExtraInfo.partialCorrection.activePartialCorrection"><p><b th:text="#{subject.examExtraInfo.notPartialCorrectionNotAnsweredQuestion}"></b> {{currentExamExtraInfo.partialCorrection.penaltyNotAnsweredQuestion}}</p></li>

                        <!-- Show right answers -->
                        <li ng-show="currentExamExtraInfo.showRightAnswersNumber"><p><b th:text="#{subject.examExtraInfo.showRightAnswers}"></b></p></li>
                        <li ng-hide="currentExamExtraInfo.showRightAnswersNumber"><p><b th:text="#{subject.examExtraInfo.notShowRightAnswers}"></b></p></li>

                        <!-- Confidence level -->
                        <li ng-hide="currentExamExtraInfo.confidenceLevel.activeConfidenceLevel"><p><b th:text="#{subject.examExtraInfo.notConfidenceLevel}"></b></p></li>
                        <li ng-show="currentExamExtraInfo.confidenceLevel.activeConfidenceLevel"><p><b th:text="#{subject.examExtraInfo.confidenceLevel}"></b></p></li>
                        <li ng-show="currentExamExtraInfo.confidenceLevel.activeConfidenceLevel"><p><b th:text="#{subject.examExtraInfo.confidenceLevelPenalty}"></b>{{currentExamExtraInfo.confidenceLevel.penalty}}</p></li>
                        <li ng-show="currentExamExtraInfo.confidenceLevel.activeConfidenceLevel"><p><b th:text="#{subject.examExtraInfo.confidenceLevelReward}"></b>{{currentExamExtraInfo.confidenceLevel.reward}}</p></li>

                        <!-- Start and End review dates are visible when the review is activated -->
                        <li ng-show="currentExamExtraInfo.activeReview"><p><b th:text="#{subject.examExtraInfo.startReviewDate}"></b> {{currentExamExtraInfo.startReviewDate}}</p></li>
                        <li ng-show="currentExamExtraInfo.activeReview"><p><b th:text="#{subject.examExtraInfo.endReviewDate}"></b> {{currentExamExtraInfo.endReviewDate}}</p></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
