<div id="main-profile-div" xmlns:th="http://www.thymeleaf.org">
    <div class="main-title-div">
        <h2 th:text="#{userProfile.title}"></h2>
    </div>
    <br/>
    <div class="container">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            <form class="form-horizontal" role="form" ng-submit="showConfirmationModal()">
                <div class="form-group">
                    <label for="language" th:text="#{userProfile.language}"></label>
                    <div id="language">
                        <button id="spanishButton" type="button" class="btn btn-sm btn-language" ng-click="setButtonState($event)">
                            <span class="lang-sm" lang="es"></span> <span th:text="#{userProfile.language.spanish}"></span>
                        </button>
                        <button id="englishButton" type="button" class="btn btn-sm btn-language" ng-click="setButtonState($event)">
                            <span class="lang-sm" lang="en"></span> <span th:text="#{userProfile.language.english}"></span>
                        </button>
                    </div>
                </div>

                <div class="form-group">
                    <label for="user" th:text="#{userProfile.user}"></label>
                    <input type="text" class="form-control" id="user" ng-model="profile.user" disabled="disabled"/>
                </div>

                <div class="form-group">
                    <label for="name" th:text="#{userProfile.name}"></label>
                    <input type="text" class="form-control" id="name" ng-model="profile.name"/>
                </div>

                <div class="form-group">
                    <label for="lastname" th:text="#{userProfile.lastName}"></label>
                    <input type="text" class="form-control" id="lastname" ng-model="profile.lastname"/>
                </div>

                <div class="form-group">
                    <label for="dni" th:text="#{userProfile.dni}"></label>
                    <input type="text" class="form-control" id="dni" ng-model="profile.dni"/>
                </div>

                <div class="form-group">
                    <label for="email" th:text="#{userProfile.email}"></label>
                    <input type="email" class="form-control" id="email" ng-model="profile.email"/>
                </div>

                <div class="form-group" style="text-align:center;">
                    <button type="submit" class="btn btn-primary" th:text="#{userProfile.language.button}"></button>
                </div>
            </form>
        </div>
    </div>


    <!-- Modal with successfully message modal -->
    <div class="modal fade" id="confirmationModal" role="dialog">
        <div class="modal-dialog modal-sm">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" th:text="#{modalConfirmationTitle}"></h2>
                </div>
                <div class="modal-body">
                    <p th:text="#{userProfile.confirmationMessage}"></p>
                </div>
                <div class="modal-footer-custom">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" style="margin-right: 20px;" th:text="#{modalCancelButton}"></button>
                    <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="updateUserProfile()" th:text="#{modalOkButton}"></button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal with error message modal -->
    <div class="modal fade" id="errorModal" role="dialog">
        <div class="modal-dialog modal-sm">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" th:text="#{modalErrorTitle}"></h2>
                </div>
                <div class="modal-body">
                    <p th:text="#{userProfile.errorMessage}"></p>
                </div>
                <div class="modal-footer-custom">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" th:text="#{modalOkButton}"></button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal with successfully message modal -->
    <div class="modal fade" id="successfullyModal" role="dialog">
        <div class="modal-dialog modal-sm">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" th:text="#{modalInformationTitle}"></h2>
                </div>
                <div class="modal-body">
                    <p th:text="#{userProfile.updateProfileSuccessfully}"></p>
                </div>
                <div class="modal-footer-custom">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="goToIndexPage()" th:text="#{modalOkButton}"></button>
                </div>
            </div>
        </div>
    </div>
</div>