/* === INDEX === */

body{
    margin-top: 70px;
    background-image: url(/img/background.png);
    background-position: left top;
    background-repeat: repeat;
}

.navbar-brand{
    padding: 0px;
    padding-top: 5px;
    padding-left: 15px;
}

.navbar-brand img{
    max-width: 100%;
    max-height: 100%;
}

/* === COMMON PAGES === */

.modal-header, .modal-footer-custom{
    text-align: center;
}

.modal-content{
    padding:10px;
}

.main-title-div{
    padding-top: 15px;
    color: rgb(0, 0, 0);
    text-align:center;
    border-bottom: 2px solid rgb(217, 32, 38);
    background-color: rgba(255, 0, 0, 0.1);
}

.main-title-div h2{
    margin-top: 0px;
}

#main-courses-div, #main-pass-div, #main-profile-div, #main-subject-div, #main-review-exam-div{
    border: 3px solid rgb(217, 32, 38);
    border-top: 16px solid rgb(217, 32, 38);
    box-shadow: rgba(255, 0, 0, 0.3) 3px 3px 3px 3px;
    margin-bottom: 15px;
    background-color: white;
}

.form-horizontal{
    padding-left: 15px;
    padding-right: 15px;
}

/* === USER PROFILE === */

.btn-language{
    background-color: white;
    border-color: grey;
    color: black;
}

.btn-language.active{
    background-color: darkgray;
    border-color: grey;
    color: black;
}

/* === COURSES === */

.list-group-item{
    box-shadow: rgba(255, 0, 0, 0.3) 2px 2px 2px 2px;
}
.list-group-item:hover{
    box-shadow: rgba(0, 0, 0, 0.4) 2px 2px 2px 2px;
    background-color: rgba(0, 0, 0, 0.1);
}

.btn-course{
    background-color: rgb(217, 32, 38);
}

.last-course{
    display: none !important;
}

.course-class {
    text-align: center;
}

/* === SUBJECT === */

#subject-title-div{
    padding-top: 15px;
    color: rgb(0, 0, 0);
    padding-left: 30px;
    border-bottom: 2px solid rgb(217, 32, 38);
    background-color: rgba(255, 0, 0, 0.1);
}

#subject-title-div h1{
    margin-top: 0px;
    border-bottom: 3px solid black;
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
}

#subject-title-div h3{
    margin-left: 10px;
}

#subject-title-div h5{
    margin-left: 15px;
}

.btn-exams-type{
    background-color: rgba(255, 0, 0, 0.65);
}

#subject-exams-main-div{
    margin-top: -20px;
    margin-bottom: 20px;
}

#exams-button-group{
    max-width: 500px;
}

#available-exams-div, #next-exams-div, #done-exams-div{
    padding-top: 25px;
}

#send-eamil-to-tutor-button, #go-to-home-button{
    margin-bottom: 20px;
}

#go-to-home-button{
    margin-right: 10px;
}

/* For small devices (phones) the "back" and "Send email to tutor" buttons are small */
@media(max-width: 350px){
    #send-eamil-to-tutor-button, #go-to-home-button{
        padding:6px 12px;
        font-size:14px;
        border-radius:4px
    }
}

.btn-exams-type:focus, .btn-exams-type:hover{
    outline: none;
    background-color: rgba(255, 0, 0, 0.65);
}

.ul-secondary-small-indent{
    margin-left: -25px;
}

.ul-no-indent {
    padding-left: 0;
}​
