<!DOCTYPE html>
<html ng-app="login" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" content="text/html" http-equiv="content-Type"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <title>iTest</title>

        <!-- Add Fav Icon-->
        <link rel="icon" href="/img/favicon.ico"/>

        <!-- Add Bootstrap -->
        <link rel="stylesheet" href="/css/lib/bootstrap.min.css"/>

        <!-- Custom CSS and adaptive style-->
        <link href="/css/index-style.css" rel="stylesheet"/>
        <link href="/css/adaptive-elements.css" rel="stylesheet"/>

        <!-- Add AngularJS and additionals libraries-->
        <script src="/angularjs/lib/angular.min.js"></script>

        <!-- Add AngularJS App -->
        <script src="/angularjs/login_app.js"></script>

        <!-- Include jQuery and javascript Boostrap library (necessary for Bootstrap) -->
        <script src="/js/lib/jquery-3.1.1.min.js"></script>
        <script src="/js/lib/bootstrap.min.js"></script>

    </head>
    <body ng-controller="loginCtrl">

        <!-- HEADER -->
        <header>
            <!-- Container with iTest and URJC logos and Title-->
            <div class="container-fluid">

                <div class="row" id="logo">
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6" id="logo-left">
                        <a href="/"><img src="/img/logoitest.png"/></a>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6" id="logo-right">
                        <a href="https://www.urjc.es/"><img src="/img/URJC-Logo.png"/></a>
                    </div>
                </div><!-- #logo-->

                <div class="row" id="app-title">
                    <div class="col-md-12">
                        <h2 th:text="#{wellcomeIndex}"></h2><br/>
                    </div>
                </div><!-- #app-title-->

            </div><!-- .container-fluid -->
        </header>
        <!-- END HEADER -->


        <!-- ENTER BUTTON & FORM LOGIN -->
        <section>
            <!-- Container with Enter button and Login Form-->
            <div class="container" id="main-container">

                <!-- Button to access to Login Form or User index page -->
                <div class="row" ng-show="!showFormLogin" id="enter-to-app">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h2 th:text="#{enterSystemIndex}">Haga click en el botón para entrar en el sistema</h2>
                        <br/>
                        <button class="btn btn-primary btn-lg" ng-click="checkUser();" th:text="#{enterButton}"></button>
                    </div><!-- .col -->
                </div><!-- .row #enter-to-app -->

                <!-- Form login and button to access to student demo -->
                <div class="ng-cloak" ng-show="showFormLogin">

                    <!-- Form login -->
                    <div class="row ng-cloak">

                        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3" id="form-login">
                            <h3 th:text="#{identificationIndex}">Por favor, identifíquese</h3>
                            <hr/>
                            <h5 class="alert alert-danger" role="alert" ng-show="showLoginError" th:text="#{errorUserLogin}"></h5>
                            <h5 class="alert alert-danger" role="alert" ng-show="showInvalidUserError" th:text="#{invalidUserLogin}"></h5>
                            <form class="form-horizontal" role="form" ng-submit="login()">

                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        <input type="text" class="form-control" name="username" th:placeholder="#{user}" value="" ng-model="credentials.username" maxlength="20"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                        <input type="text" style="display:none;"/> <!-- To avoid autocomplete the password -->
                                        <input type="password" class="form-control" name="password" th:placeholder="#{password}" value="" ng-model="credentials.password" maxlength="32"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-default"><span th:text="#{enterButton}"></span>&nbsp;&nbsp;<i class="glyphicon glyphicon-log-in"></i></button>
                                </div>

                                <div class="form-group" style="float: left">
                                    <a href="/retrievePassword/"><i class="glyphicon glyphicon-lock"></i>&nbsp;&nbsp;<span th:text="#{retrievePassword.button}"></span></a>
                                </div>

                            </form><!-- .form -->
                        </div><!-- .col #form-login -->

                    </div><!-- .row -->

                    <!-- Student demo -->
                    <div class="row" id="learner-button">

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <button class="btn btn-info btn-lg" th:text="#{learnerDemoButton}"></button>
                        </div><!-- .col -->

                    </div><!-- .row #learner-button -->
                </div>

            </div><!-- .container #main-container -->
        </section>
        <!-- END ENTER BUTTON & FORM LOGIN -->


        <!-- INFORMATION -->
        <section>
            <!-- Container with ASCIIMathML and Geogebra information -->
            <div class="container" id="info">
                <div class="row">

                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-lg-offset-2 col-md-offset-2 col-sm-offset-2" id="info-column-1">
                        <h3>ASCIIMathML</h3>
                        <p>MathML formulas displayed using ASCIIMathML.js.</p>
                        <a href="http://asciimath.org/">http://asciimath.org/</a>
                    </div><!-- .col #info-column-1 -->

                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" id="info-column-2">
                        <h3>Geogebra</h3>
                        <p>Math support using Geogebra.</p>
                        <a href="http://www.geogebra.org/">http://www.geogebra.org/</a>
                    </div><!-- .col #info-column-2 -->

                </div><!-- .row -->
            </div><!-- .container #info -->
        </section>
        <!-- END INFORMATION-->


        <!-- FOOTER -->
        <footer>
            <!-- Container with footer-->
            <div class="container-fluid"  id="footer">

                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4" >
                        <a href="#"><h4 th:text="#{contactFooter}"></h4></a>
                    </div><!-- .col -->
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-4"></div><!-- .col -->
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4" >
                        <a href="#"><h4 th:text="#{creditsFooter}"></h4></a><!-- .col -->
                    </div>
                </div><!-- .row -->

            </div><!-- .container-fluid #footer -->
        </footer>
        <!-- END FOOTER -->
    </body>
</html>